{% extends "fin_skater_profile/home_page.html" %}
{% load static %}

<!-- Title Start -->
{% block title %} <title>About financeSkater</title>{% endblock %}
<!-- Title End -->


<!-- Left side Ads Start -->
{% block left_side_content %}
<div class="well">
  <p>ADS</p>
</div>

<div class="well">
  <p>ADS</p>
</div>
{% endblock %}
<!-- Left side Ads End -->


<!-- Middle content Start -->
{% block middle_content %}
<br><br>
<h1>Welcome to financeSkater!</h1>
<p> Your biggest life decisions and your biggest money decisions are all tied together – getting your career, personal finance and lifestyle decisions right are the key to living the life you want.

Imagine how much you could achieve with a career or business coach, a financial advisor, the best content, and the technology for managing your goals all in one place?</p>

<img alt="logo" src="{% static 'home_page\photos\financeSkater_logo.png' %}" style="width:500px; height: 500px">
{% endblock %}
<!-- Middle content End -->


<!-- Right side Ads Start -->
{% block right_side_content %}
<div class="well">
  <p>ADS</p>
</div>

<div class="well">
  <p>ADS</p>
</div>
{% endblock %}
<!-- Right side Ads End -->